.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.6rem 1rem;
  width: 40rem;

  border: 2px solid var(--color-secondary);
  background-color: var(--color-primary);
  scroll-snap-align: center;
}

.title {
  text-decoration: underline;
  transition: color 0.3s;
  font-size: 1.5rem;
  color: var(--color-secondary);
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  label {
    border: 2px solid var(--color-secondary);
    background-color: var(--color-primary-dark);
    padding: 0.3rem;
    font-size: 1rem;
    margin-right: 0.8rem;
  }
}

.date {
  font-size: 1rem;
  margin-right: 0rem;
  margin-left: auto;
}

@media only screen and (max-width: 720px) {
  .container {
    width: 35rem;
  }
}

@media only screen and (max-width: 520px) {
  .container {
    width: 30rem;
  }
}

@media only screen and (max-width: 370px) {
  .container {
    width: 20rem;
  }
}
