.container {
  &:hover {
    cursor: pointer;

    img {
      filter: grayscale(0%);
    }

    h2 {
      color: var(--color-secondary-lighter);
    }

    div:first-of-type {
      &::after {
        opacity: 0;
      }
    }
  }
}

.capsuleImageContainer {
  overflow: hidden;
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: opacity 0.5s;
    background: linear-gradient(
      to bottom,
      rgba(90, 90, 90, 0),
      65%,
      rgba(0, 0, 0, 0.5)
    );
    opacity: 1;
  }
}

.capsuleImage {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  filter: grayscale(40%);
  transition: filter 0.5s;
}
