/*  HEADER */

.headerNavbarContainer {
  margin-left: auto;
  margin-right: 5%;
}

.header {
  background-color: rgba(61, 61, 61, 1);
  display: flex;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.headerLogo {
  height: 4em;
  width: auto;
  margin: 0.8em 0.8em 0.8em 2em;
  cursor: pointer;
}

.headerNavbar {
  color: rgba(231, 231, 231, 1);
  list-style: none;
  display: flex;
  font-size: 120%;
  margin-right: 100px;
}

.headerNavbarElement {
  margin: 0px 20px 0px 20px;
  padding: 8px 10px 8px 10px;
  background-color: rgba(51, 51, 51, 1);
  transition: color 0.5s, background-color 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.headerNavbarElement a {
  text-decoration: none;
  color: inherit;
}

.headerNavbarElement:hover {
  color: rgba(61, 61, 61, 1);
  background-color: rgba(231, 231, 231, 1);
  transition: color 0.5s, background-color 0.5s;
}

.selected {
  text-decoration: underline;
}

/*  FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.footerBorder {
  border-top: 2px solid rgba(61, 61, 61, 1);
  width: 25%;
}

.informationBox {
  justify-content: center;
  align-items: center;
  // visibility: hidden;
  // display: none;
}

.emailFooter {
  font-size: 1.1rem;
  text-align: center;
}

.contactList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 4rem;
}

.contactListIcon {
  width: 2.5rem;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.8;
  margin: 0rem 0.8rem;
}

.contactListIcon:hover {
  transform: scale(1.2);
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}

.resumeList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding-left: 0;
}

.resumeListText {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.resumeListIcon {
  width: 2rem;
  margin: 0rem 0.7rem;
  filter: grayscale(80%);
  transition: filter 0.5s;
}

.resumeListIcon:hover {
  filter: grayscale(0%);
  transition: filter 0.5s;
}
