.capsule {
  background-color: var(--color-primary);
  border: solid 2px var(--color-secondary);
  padding: 1rem 1rem 1rem 1rem;
  width: auto;
  margin: 1rem 1rem;
}

.capsuleTitle {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 1rem;
  width: auto;
  text-decoration: underline;
  transition: color 0.5s;
}

.capsuleTitle:hover {
  color: var(--color-secondary-lighter);
  transition: color 0.5s;
}

.capsuleImage {
  max-width: 100%;
  max-height: 100%;
}
