@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");

:root {
  --color-primary: rgb(231, 231, 231);
  --color-primary-dark: rgb(221, 221, 221);
  --color-secondary: rgb(61, 61, 61);
  --color-secondary-dark: rgb(51, 51, 51);
  --color-secondary-light: rgb(121, 121, 121);
  --color-secondary-lighter: rgb(151, 151, 151);
}

:root.darkTheme {
  --color-primary: rgb(48, 48, 48);
  --color-primary-dark: rgb(41, 41, 41);
  --color-secondary: rgb(214, 214, 214);
  --color-secondary-dark: rgb(201, 201, 201);
  --color-secondary-light: rgb(237, 237, 237);
  --color-secondary-lighter: rgb(255, 255, 255);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Roboto", "Arial", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: 400;
  font-display: auto;
  scroll-behavior: smooth;

  transition: background-color 0.3s, color 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 460px) {
  html {
    font-size: 11px;
  }
}
