/*   LANDING  */

.landing {
  background-color: var(--color-primary-dark);
  text-align: center;
  padding: 30% 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingName {
  font-weight: 400;
  font-size: 2rem;
}

.landingSubtitle {
  font-weight: 300;
  font-size: 1.2rem;
}

/*  ABOUT */

.about {
  background-color: var(--color-primary);
  padding: 5% 10% 10% 10%;
}

.aboutTitle {
  margin-left: 5%;
  font-size: 2rem;
  text-decoration: underline;
}

.aboutStory {
  margin-left: 10rem;
  padding: 20px;
  height: auto;
  line-height: 1.4rem;
  font-size: 1.3rem;
}

.aboutStory p {
  margin: 0px;
}

.aboutStack {
  margin-left: 10rem;
  padding: 20px;
  margin-top: 30px;
  display: block;
  height: auto;
  line-height: 1.4em;
  font-size: 1.3rem;
}

.aboutStack p {
  margin: 0px;
}

/*   PROJECTS */

.projects {
  background-color: var(--color-primary-dark);
  padding: 5% 10% 10% 10%;
}

.projectsTitle {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 10%;
  margin-left: 5%;
}

.projectsContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/*   BLOG  */

.blog {
  background-color: var(--color-primary);
  padding: 5% 10% 10% 10%;
}

.blogTitle {
  margin-left: 5%;
  margin-bottom: 10%;
  font-size: 2rem;
  text-decoration: underline;
}

.blogContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/*   ALL */

.LinkContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.Link {
  text-decoration: underline;
  transition: color 0.5s;
}

.Link:hover {
  color: var(--color-secondary-light);
  text-decoration: underline;
  transition: color 0.5s;
}

/*   REACTIVE */

@media only screen and (max-width: 980px) {
  .projectsContainer {
    flex-direction: column;
  }

  .blogContainer {
    flex-direction: column;
  }
}
