/*   LANDING  */

.landing {
  background-color: rgba(221, 221, 221, 1);
  text-align: center;
  padding: 30% 0;
}

.landingName {
  font-weight: 400;
  font-size: 2rem;
}

.landingSubtitle {
  font-weight: 300;
  font-size: 1.2rem;
}

/*  ABOUT */

.about {
  background-color: rgba(231, 231, 231, 1);
  padding: 5% 10% 10% 10%;
}

.aboutTitle {
  margin-left: 5%;
  font-size: 2rem;
  text-decoration: underline;
}

.aboutStory {
  margin-left: 10rem;
  padding: 20px;
  height: auto;
  line-height: 1.4rem;
}

.aboutStory p {
  margin: 0px;
}

.aboutStack {
  margin-left: 10rem;
  padding: 20px;
  margin-top: 30px;
  display: block;
  height: auto;
  line-height: 1.4em;
}

.aboutStack p {
  margin: 0px;
}

/*   PROJECTS */

.projects {
  background-color: rgba(221, 221, 221, 1);
  padding: 5% 10% 10% 10%;
}

.projectsTitle {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 10%;
  margin-left: 5%;
}

.projectsContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.projectsLinkContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.projectsLink {
  text-decoration: underline;
  transition: color 0.5s;
}

.projectsLink:hover {
  color: rgba(121, 121, 121, 1);
  text-decoration: underline;
  transition: color 0.5s;
}

/*   BLOG  */

.blog {
  background-color: rgba(231, 231, 231, 1);
  padding: 5% 10% 10% 10%;
}

.blogTitle {
  margin-left: 5%;
  font-size: 2rem;
  text-decoration: underline;
}

.blogContainer {
  text-align: center;
  margin: 300px 0px;
}

.blogContainer p {
  font-size: 1.4rem;
}
