.container {
  padding: 15% 0% 20% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

.container p {
  font-size: 1.5rem;
}

.tagContainer {
  position: fixed;
  left: 3%;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.tagContainer > button {
  margin-bottom: 1rem;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.postContainer > div {
  margin-top: 4rem;
}

@media only screen and (max-width: 920px) {
  .tagContainer {
    position: inherit;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;

  }

  div.tagContainer > button {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .tagContainer {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .tagContainer {
    margin-left: 3rem;
  }
}
