.container {
  text-align: center;
  padding: 10% 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
}

@media only screen and (max-width: 1020px) {
  .container {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 560px) {
  .container {
    margin-top: 6rem;
  }
}
