.container {
  padding: 0rem 5%;
}

.heading {
  display: flex;
  align-items: center;
  padding-top: 7rem;
}

.headingIcon {
  height: 3rem;
  // background-color: rgba(61, 61, 61, 1);
  // border-radius: 10px;
}

.headingTitle {
  margin-left: 1rem;
  text-decoration: underline;
}
